<ion-view view-title="Notification">
    <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu()">
  </div>
  <h1 class="title" style="font-size:20px;">Notification</h1>
</ion-header-bar>
<ion-content has-bouncing="true" class="has-header has-footer" 
              delegate-handle="userMessageScroll"><br>
              <div ng-if="length === 0"><br><br>
      			  	<center><p style="font-size:18px;color:gray;">There is no notification added yet.</p></center>
                <br><br>
      			  </div>
            
              <div class="padding card " ng-repeat="data in datas" ng-if="length !== 0">               
                    <div>
                          <!--<span class="font-head"> {{data.time}} </span><br>-->
                          <span class="font-head" style="font-size: 1em !important;"> {{data.text}}</span><br>
                    </div> 
                    <div style="padding-top: 10px !important;font-size: 12px !important;color: #757575 !important;"><span style="float: left !important;">{{data.time}}</span></div>                 
              </div>
</ion-content>
</ion-view>