<ion-view view-title="View Improvements" class="layout" hide-back-button="true">
 <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu()">
  </div>
  <h1 class="title" style="font-size:18px;padding-top:3px;">View Improvements</h1>
</ion-header-bar>
  <ion-content class="has-header">
    <br>
    <div class="padding card item-text-wrap"  ng-repeat="data in improvements" ng-if="assignedstatus == true && improvements.length !== 0">
     
        <div>
              <span class="font-head"> {{data.createddate}} </span><br>
              <div class="font-light" style="padding-top: 10px !important;"> {{data.impdetails}}</div><br>
        </div>
      
    </div>
    <div  class="padding  item-text-wrap" ng-if="assignedstatus == true && improvements.length === 0">
      <center>
        No Improvement data added yet
      </center>
    </div>
    <div  class="padding  item-text-wrap" ng-if="assignedstatus == false">
      <br><br>
      <center>
        Your request is still in pending status. Contact Administrator via direct chat.
      </center>
      <br><br>
    </div>
  </ion-content>
</ion-view>