<ion-view view-title="View Needs" class="layout" hide-back-button="true">
 <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu()">
  </div>
  <h1 class="title" style="font-size:18px;padding-top:3px;">View Needs</h1>
</ion-header-bar>
  <ion-content class="has-header">
    <div class="card padding"  ng-repeat="data in needs" ng-if="needs.length !== 0">
      <div >       
              <span class="font-head"> {{data.title}} </span> <br>
              <div class="font-light" style="padding-top: 10px !important;"> {{data.details}} </div>
              <div style="padding-top: 10px !important;">
            <a class="font-bold"  href="#/app/editneeds/{{data.$id}}" > <font style=" margin-right: 30px !important; color: #000 !important; font-size: 14px !important;">EDIT</font></a>
            <a class="font-bold" ng-click="deleteneeds(data.$id)"> <font style="margin-right: 25px !important; color: #F57F17 !important; font-size: 14px !important;" >DELETE</font></a>
          </div>
      </div>
    </div>
    <div class=" padding"  ng-if="needs.length === 0">
      <div>  
          <br><br>     
          <center><span class="font-head"> No Needs added yet. </span> </center>
          <br><br>
          
      </div>
    </div>
  </ion-content>
</ion-view>