<div class="container" data-ng-controller="addvolunteerCtrl">
         <div class="card">
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt clearfix">
                    <h2 class="lvh-label">VIEW VOLUNTEER</h2>
                    <div class="lvh-search" data-ng-show="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
                        <form action="" method="post" class="searchform" id="">
                            <input type="text" placeholder="Start typing..." ng-model="search" class="lvhs-input" ng-enter="">
                        </form>
                        <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false; search = ''">&times;</i>
                    </div>
                    <ul class="lv-actions actions">
                        <li>
                            <a  data-ng-click="mactrl.listviewSearchStat = true">
                                <i class="zmdi zmdi-search"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#/volunteer/addvolunteer"><i class="zmdi zmdi-plus-circle-o"></i></a>
                        </li>
                    </ul>
                </div>
                    <div class="lv-body" ng-repeat="data in volunteerdatas | filter:search | orderBy: 'volunteername' | pagination: curPage * pageSize | limitTo: pageSize" ng-show="volunteerdatas.length !== 0">
                        <div class="lv-item media" >
                            <div class="pull-left">
                               <img class="lv-img-sm" src="img/profile.png" alt="" ng-show="data.img == undefined || data.img == null">
                               <img class="lv-img-sm" ng-src="{{data.img}}" alt="" ng-show="data.img != undefined && data.img != null">
                            </div> 
                        <div class="media-body">
                            
                                <div class="lv-title"><b>{{data.volunteername}}</b> - <span ng-show='data.assignedstatus == false'>Not Assigned</span><span ng-show='data.assignedstatus == true'>Assigned</span></div>
                                <small ng-show="data.mobile">{{data.mobile}}</small><br>
                                <small ng-show="data.address">{{data.address}}, </small>
                                <small ng-show="data.city">{{data.city}}, </small>
                                <small ng-show="data.state">{{data.state}}</small>
                                <ul class="lv-attrs">
                                    <li ng-show="data.email">Email: {{data.email}} </li>
                                    <li ng-show="data.username">Username: {{data.username}} </li>
                                </ul>  
                               

                                <div class="lv-actions actions dropdown" uib-dropdown>
                                <a href="" uib-dropdown-toggle aria-expanded="true">
                                    <i class="zmdi zmdi-more-vert" style="color: #607D8B !important;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a data-toggle="modal" data-target="#viewdetail" ng-click="getdetail(data.$id)"><i class="zmdi zmdi-eye" style="font-size: 15px; color: #607D8B"></i> &nbsp;<b>&nbsp;View</b> </a>
                                    </li>
                                    <li>
                                        <a ng-click="assign(data.$id)" ng-show="data.assignedstatus == false"><i class="zmdi zmdi-assignment-check" style="font-size: 15px; color: #607D8B"></i> &nbsp;<b>&nbsp;Set Assign</b> </a>
                                        <a ng-click="notassign(data.$id)" ng-show="data.assignedstatus == true"><i class="zmdi zmdi-assignment-alert" style="font-size: 15px; color: #607D8B"></i> &nbsp;<b>&nbsp;Set Not Assign</b> </a>
                                    </li>
                                    <li>
                                        <a href="#/volunteer/volunteerchat/{{data.$id}}"><i class="zmdi zmdi-comment-more" style="font-size: 15px; color: #607D8B;"></i> &nbsp;<b>&nbsp;Direct Chat</b> </a>
                                    </li>
                                    <li>
                                        <a href="#/volunteer/volunteerworks/{{data.$id}}"><i class="zmdi zmdi-collection-plus" style="font-size: 15px; color: #607D8B;"></i> &nbsp;<b>&nbsp;Works</b> </a>
                                    </li>
                                    <li>
                                        <a href="#/volunteer/editvolunteer/{{data.$id}}"><i class="zmdi zmdi-edit" style="font-size: 15px; color: #607D8B;"></i> &nbsp;<b>&nbsp;Edit</b> </a>
                                    </li>
                                    <li>
                                        <a ng-click="deletevolunteer(data)"><i class="zmdi zmdi-delete" style="font-size: 15px; color: #607D8B;"></i> &nbsp;<b>&nbsp;Delete</b> </a>
                                    </li>
                                </ul>
                            </div>

                           
                        </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" ng-show="volunteerdatas.length === 0">
              <br><br><br>
                <center>No volunteer added yet.</center>
                <br><br><br>
            </div>
             <div class="card-header ch-alt m-b-20" style="background-color: transparent !important; margin-top: 2em !important;" ng-show="volunteerdatas.length !== 0">
                            <button class="btn btn-primary btn-icon" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"><i class="zmdi zmdi-caret-left" style="font-size: 2em !important;"></i></button>&nbsp;&nbsp;  
                              <span>{{curPage + 1}} of {{ pagenum }}</span>&nbsp;&nbsp;  
                            <button class="btn btn-primary btn-icon" ng-disabled="curPage >= volunteerdatas.length/pageSize - 1" ng-click="curPage = curPage+1" ><i class="zmdi zmdi-caret-right" style="font-size: 2em !important;"></i></button>
                            <ul class="actions">
                                <li>
                                    <div class="btn-toolbar" role="toolbar" style=" padding-right: 2em !important; margin-top: 0.7em !important; float: right !important;">
                                        <div class="btn-group" style="background : transparent !important;">
                                            <button type="button" class="btn btn-primary" ng-click="numberOfPages(10)" ng-disabled="!(volunteerdatas.length > 10)">10</button>
                                            <button type="button" class="btn btn-primary" ng-click="numberOfPages(25)" ng-disabled="!(volunteerdatas.length > 25)">25</button>
                                            <button type="button" class="btn btn-primary" ng-click="numberOfPages(50)" ng-disabled="!(volunteerdatas.length > 50)">50</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                </div>
            </div>
        </div>
    </div>

    

    <div class="modal fade" id="viewdetail" role="dialog" data-ng-controller="addvolunteerCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close-circle"></i></button>
                   <h4 class="modal-title">Volunteer Details</h4>
                </div><br>
                <div class="modal-body">
                    <form name="form">
                      <div class="row">
                        <div class="col-sm-6" style="margin-top: 1.5em !important;"> 
                           <div class="form-group fg-line">
                              <label>Name : &nbsp;  {{datanow.volunteername}}</label>
                           </div>
                           <div class="form-group fg-line">
                               <label>Mobile No : &nbsp; {{datanow.mobile}}</label>
                            </div>
                            <div class="form-group fg-line">
                               <label>Username : &nbsp; {{datanow.username}}</label>
                            </div>
                            <div class="form-group fg-line">
                               <label>City : &nbsp; {{datanow.city}}</label>
                            </div>
                            <div class="form-group fg-line">
                               <label>State : &nbsp; {{datanow.state}}</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="margin-top: 1.5em !important;">
                            <div class="form-group fg-line" ng-if="datanow.address">
                               <label>Address : &nbsp; {{datanow.address}}</label>
                            </div>
                            <div class="form-group fg-line" ng-if="datanow.email">
                               <label>Email Id : &nbsp; {{datanow.email}}</label>
                            </div>
                            <div class="form-group fg-line">
                               <label>Interested : &nbsp; {{datanow.interested}}</label>
                            </div>
                            <div class="form-group fg-line" ng-show="datanow.village">
                               <label>Village : &nbsp; {{datanow.villagename}}</label>
                            </div>
                            <div class="form-group fg-line" ng-show="datanow.school">
                               <label>School : &nbsp; {{datanow.schoolname}}</label>
                            </div>
                            <div class="form-group fg-line">
                                <label>Status : &nbsp; <span ng-show="datanow.assignedstatus == true">Assigned</span><span ng-show="datanow.assignedstatus == false">Not Assigned</span></label>
                            </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group fg-line" ng-if="datanow.worksdone">
                               <label>Volunteer works done before : &nbsp; {{datanow.worksdone}}</label>
                            </div>
                            <div class="form-group fg-line" ng-if="datanow.otherdetails">
                               <label>Other Details : &nbsp; {{datanow.otherdetails}}</label>
                            </div>
                        </div>
                      </div>
                    </form>            
                </div>
            </div>
        </div>
    </div>