<ion-view view-title="Edit Needs" class="layout" hide-back-button="true">
 <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="goback()">
  </div>
  <h1 class="title" style="font-size:18px;padding-top:3px;">Edit Needs</h1>
</ion-header-bar>
  <ion-content  class="padding iniLogin">
      <form name="form"> 
        <div class='list list-icon authheight'>

                  <div class='row'>
                    <div class='col-10 rowicon'>
                    <i class='icon ion-android-person authicon'></i>
                    </div>
                    <div class='col-90 rowtext'>
                         <label class='item item-input item-floating-label' >
                                <input type='text' placeholder='Title' ng-model='needdata.title' style='color: #000000;' autocomplete='off'>
                            </label> 
                    </div>
                  </div> 

                  <div class='row'>
                    <div class='col-10 rowicon'>
                    <i class='icon ion-android-locate authicon'></i>
                    </div>
                    <div class='col-90 rowtext'>
                         <label class='item item-input item-floating-label' >
                                <textarea type='text' placeholder='Enter Needs' ng-model='needdata.details' style='color: #000000;' autocomplete='off'></textarea> 
                            </label> 
                    </div>
                  </div> 
                  <button class='signupBtn' ng-click='updateneeds(needdata)' ng-disabled='!needdata.title  || !needdata.details '>Update</button>
                 
        </div> 
      </form>
  </ion-content>
</ion-view>